*,
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fcfcfc;
}

ul {
  padding-left: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}

/*Typographie*/
body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.3;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 24px;
  font-weight: 600;
  color: black;
}

h1,
#logo-menu {
  font-family: "cinzel";
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

#sidebar {
  width: 30%;
  height: 100%;
  background-color: #eee;
  float: left;
  transition: width 1s;
}

#main {
  width: 70%;
  height: 100%;
  background-image: url("./images/map.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
}

.card {
  background-color: #eee !important;
  border: none !important;
}

#dropdown-filter img {
  height: 16px;
}

#sidebar-content p {
  cursor: pointer; /* Change le curseur en main lors du survol */
  transition: background-color 0.3s; /* Ajoute une transition sur la couleur de fond */
}

#sidebar-content p:hover {
  background-color: lightgreen; /* Change la couleur de fond en vert clair lors du survol */
}

#logo-pointer {
  cursor: pointer; /* Change le curseur en main lors du survol */
}

.tooltip-image {
  height: 16px;
}
